[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-environ = "*"
django-filter = "*"
requests = "*"
beautifulsoup4 = "*"
djangorestframework-camel-case = "*"
djangorestframework-simplejwt = "*"

[dev-packages]
pylint = "*"
pep8 = "*"
flake8 = "*"
pytest = "*"

[requires]
python_version = "3.9"
